/* **************************** */
/* INDEX */
/* **************************** */


body 
{
    width: 100vw;
    height: 100vh;

}


.main__listadoimagenes
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-areas: 
    "";
    width: 100%;
    height: 100%;


    @include mediaquery(ipad)
    {
    };

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1365px) {

    .main__listadoimagenes {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "ia da"
        "ib db"
        ;

        align-items: center;
    }



}


@media only screen and (min-device-width: 1366px)
{

    .main__listadoimagenes {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
        

        align-items: center;
        justify-items: center;
        // max-width: 50%;
    }



}



.picture__clase-imagen
{
    @include mediaquery(mobil-peke)
    {
        width: 100%;
    }

    @include mediaquery(mobil)
    {
        width: 100%;

    }

    object-fit: fill;
}


.listadoimagenes__perro,
.listadoimagenes__gato
{
    position: relative;
}


.seleccion
{

    position: absolute;
    top: 0;
    left: 50%;

    @include mediaquery(ipad)
    {
        top: 50%;
        left: -6px;
        transform: rotate(-90deg);
    }
}


.titulo__negrita
{
    font-weight: bolder;
    font-size: $font-size-titulo-figure;
    margin-left: 23px;
}

.parrafo__texto
{
    margin-left: 23px;
    font-size: $font-size-titulo-parrafo;
}

.figure__figcaption
{
    background-color: $blanco-transparente;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    

}