/* **************************** */
/* HEADER */
/* **************************** */

.header
{
    
    background-color: $color-fondo-header;
    @include mediaquery(mobil-peke)
    {
        height: $nav-height-small;

    };

    @include mediaquery(mobil) {
        height: $nav-height-small ;

    };

    @include mediaquery(ipad) {
        height: $nav-height-medium;

    };


    @include mediaquery(escritorio) {
        height: $nav-height-large;

    };



    width: 100%;

    
}


.centrado{
}



.header__header-nav
{
    


    @include mediaquery(mobil-peke)
    {

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        
        height: 100%;
        width: 100%;
        

    };
    
    @include mediaquery(mobil)
    {
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        
        height: 100%;
        width: 100%;
    };

    
    // mixin fallo
    // @include mediaquery(ipad)
    // {
    // };

    
    
    
}

.header-nav__logo
{


    flex-grow: 2;
    /* align-self: flex-start; */
    /* justify-self: center; */
    text-align: center;
    width: 100%;
    
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1365px) {

    .header__header-nav
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 35px;
    }

    .header-nav__logo
    {
        text-align: left;
    }

}



.header-nav__label
{
    @include mediaquery(escritorio)
    {
        display: none;
    }

}

.header-nav__ul-header
{
    display: none;
}

.header__menu__logo,
.header-nav__logo
{
    text-transform: uppercase;

}

.header__menu__logo
{
    font-size: $font-size-logotipo-desktop;

}

.header-nav__logo
{
    @include mediaquery(escritorio) {
        display: none;
    } 
}

.header-nav__ul-header 
{

    @include mediaquery(escritorio) 
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: $gap-small-percentage;
        height: 100%;
        width: 100%;
        
        
    }
    
    
}


.header-nav__logo
{

    max-width: 10%;
    @include mediaquery(mobile-peke) {
        max-width: $icono-small;

    }

    @include mediaquery(mobile)
    {
        max-width: $icono-small;

    }

    @include mediaquery(ipad) {
        max-width: $icono-medium;

    }

    @include mediaquery(escritorio) {
        max-width: $icono-large;

    }

}





