/* **************************** */
/* IMPORTAR PARCIALES PARA COMPILAR */
/* **************************** */
/* **************************** */
/* FUNCTIONS */
/* **************************** */
/* **************************** */
/* MIXINS */
/* **************************** */
/* MIXIN MEDIA QUERY'S*/
/* **************************** */
/* VARIABLES */
/* **************************** */
/* **************************** */
/* TIPOGRAFIA */
/* **************************** */
@font-face {
  font-family: "robotoregular";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/font/roboto-regular.woff2") format("woff2"), url("../assets/font/roboto-regular.woff") format("woff");
  font-display: swap;
}
body {
  font-family: "robotoregular", sans-serif;
  font-size: 1rem;
  color: black;
}

.header__header-nav {
  font-size: 1.125rem;
}

/* **************************** */
/* HEADER */
/* **************************** */
.header {
  background-color: #c4c4c4;
  width: 100%;
}
@media only screen and (max-device-width: 319px) and (orientation: portrait) {
  .header {
    height: 3.125rem;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  .header {
    height: 3.125rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1365px) and (orientation: portrait) {
  .header {
    height: 3.75rem;
  }
}
@media only screen and (min-width: 1366px) {
  .header {
    height: 5rem;
  }
}

@media only screen and (max-device-width: 319px) and (orientation: portrait) {
  .header__header-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  .header__header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

.header-nav__logo {
  flex-grow: 2;
  /* align-self: flex-start; */
  /* justify-self: center; */
  text-align: center;
  width: 100%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1365px) {
  .header__header-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 35px;
  }

  .header-nav__logo {
    text-align: left;
  }
}
@media only screen and (min-width: 1366px) {
  .header-nav__label {
    display: none;
  }
}

.header-nav__ul-header {
  display: none;
}

.header__menu__logo,
.header-nav__logo {
  text-transform: uppercase;
}

.header__menu__logo {
  font-size: 2.4375rem;
}

@media only screen and (min-width: 1366px) {
  .header-nav__logo {
    display: none;
  }
}

@media only screen and (min-width: 1366px) {
  .header-nav__ul-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100%;
    width: 100%;
  }
}

/* **************************** */
/* FOOTER */
/* **************************** */
/* **************************** */
/* FORMS */
/* **************************** */
/* **************************** */
/* GRIDS */
/* **************************** */
/* **************************** */
/* SIDEBARS */
/* **************************** */
/* **************************** */
/* NAVIGATORS */
/* **************************** */
/* **************************** */
/* BOTONES */
/* **************************** */
/* **************************** */
/* DROPDOWNS */
/* **************************** */
/* **************************** */
/* SLIDERS */
/* **************************** */
/* **************************** */
/* INDEX */
/* **************************** */
body {
  width: 100vw;
  height: 100vh;
}

.main__listadoimagenes {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-areas: "";
  width: 100%;
  height: 100%;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1365px) {
  .main__listadoimagenes {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "ia da" "ib db";
    align-items: center;
  }
}
@media only screen and (min-device-width: 1366px) {
  .main__listadoimagenes {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    align-items: center;
    justify-items: center;
  }
}
.picture__clase-imagen {
  object-fit: fill;
}
@media only screen and (max-device-width: 319px) and (orientation: portrait) {
  .picture__clase-imagen {
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  .picture__clase-imagen {
    width: 100%;
  }
}

/* **************************** */
/* CONTACT */
/* **************************** */
/* **************************** */
/* GALERIA */
/* **************************** */
/* **************************** */
/* BLOG */
/* **************************** */
/* **************************** */
/* PRODUCTOS */
/* **************************** */