/* **************************** */
/* IMPORTAR PARCIALES PARA COMPILAR */
/* **************************** */
/* **************************** */
/* FUNCTIONS */
/* **************************** */
/* **************************** */
/* MIXINS */
/* **************************** */
/* MIXIN MEDIA QUERY'S*/
/* **************************** */
/* VARIABLES */
/* **************************** */
/* **************************** */
/* TIPOGRAFIA */
/* **************************** */
@font-face {
  font-family: "robotoregular";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/font/roboto-regular.woff2") format("woff2"), url("../assets/font/roboto-regular.woff") format("woff");
  font-display: swap;
}
body {
  font-family: "robotoregular", sans-serif;
  font-size: 1rem;
  color: black;
}

.header__header-nav {
  font-size: 1.125rem;
}

/* **************************** */
/* HEADER */
/* **************************** */
.header {
  background-color: #c4c4c4;
  height: 3.125rem;
  width: 100%;
}

@media only screen and (max-device-width: 319px) and (orientation: portrait) {
  .header__header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  .header__header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1365px) {
  .header__header-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 35px;
  }
}
@media only screen and (min-width: 1366px) {
  .header-nav__label {
    display: none;
  }
}

.header-nav__ul-header {
  display: none;
}

@media only screen and (min-width: 1366px) {
  .header-nav__ul-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100%;
    width: 100%;
  }
}

/* **************************** */
/* FOOTER */
/* **************************** */
/* **************************** */
/* FORMS */
/* **************************** */
/* **************************** */
/* GRIDS */
/* **************************** */
/* **************************** */
/* SIDEBARS */
/* **************************** */
/* **************************** */
/* NAVIGATORS */
/* **************************** */
/* **************************** */
/* BOTONES */
/* **************************** */
/* **************************** */
/* DROPDOWNS */
/* **************************** */
/* **************************** */
/* SLIDERS */
/* **************************** */
/* **************************** */
/* INDEX */
/* **************************** */
body {
  width: 100vw;
  height: 100vh;
}

/* **************************** */
/* CONTACT */
/* **************************** */
/* **************************** */
/* GALERIA */
/* **************************** */
/* **************************** */
/* BLOG */
/* **************************** */
/* **************************** */
/* PRODUCTOS */
/* **************************** */