extends ../templates/_template.pug


//- bloque de variableslocales
block variableslocales
    //- variable nos sirve para pasar como parametro en lso mixins
    //- asi los mixins saben que pagina se los envia
    -let currentpage = "index"


//- Si queremos realizar seo pagina especifica
//- sobreescribe el seo general
//- block seo
//-     +generarseocompleto(currentpage)


//- Si queremos un titulo especificico para una pagina
//- sobreescribe el titulo general
//- block title
//-     +showtitulo(currentpage)
block header
    include ../templates/_header.pug

block main
    ul.main__listadoimagenes
        li.listadoimagenes__mujer
            +picture("cara_mujer.webp", "cara mujer recien levantada", "picture__clase")
        li.listadoimagenes__perro
            +picture("perro.webp", "perro muy simpatico y sonriente", "picture__clase")
        li.listadoimagenes__hombre
            +picture("cara_hombre.webp", "cara hombre preocupado", "picture__clase")
        li.listadoimagenes__gato
            +picture("gato.webp", "gato gris con ojos saltones", "picture__clase")
