/* **************************** */
/* TIPOGRAFIA */
/* **************************** */

@include font-face("robotoregular", "roboto-regular");

body {
    font-family: $font-primary, sans-serif;
    font-size: $font-size-base;
    color: $color-texto-base;

}


.header__header-nav
{
    font-size: $font-size-nav;
}

